html,
body {
    width: 100px;
}

.hidden {
    display: none;
}


/* Modal Structure */

html,
body {
    font-family: "Monospace", sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}

h1 {
    font-family: "Menlo", monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}

a:link,
a:visited {
    color: #000000;
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}

.modal-content {
    padding: 0 22px;
    border-bottom: 0.5px solid #dadada;
}

.modal-content-center {
    padding: 0 22px;
    text-align: center;
}

.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 16px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #444;
    font-size: 18px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
    top: -10;
    left: 100;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px green;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch2 {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
    top: -10;
    left: 125;
}

.switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider2:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider2 {
    background-color: green;
}

input:focus+.slider2 {
    box-shadow: 0 0 1px green;
}

input:checked+.slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider2.round {
    border-radius: 34px;
}

.slider2.round:before {
    border-radius: 50%;
}

.email_result {
    display: none;
}